footer {
    background-color: #FFF;
    height: 60px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: table;
    border-top: solid 1px #CCCCCC;
    overflow: hidden;}
.text {
    display: flex;
    justify-content: center;
    align-items: center;}
